
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form action="">
    <div class="FormGroup">
        <label for="">Customer</label><br />
        <input type="text" text="" class="form_control">
    </div>

    <div class="FormGroup">
        <label for="">Movie</label><br />
        <input type="text" text="" class="form_control">
    </div><br />
    <button class="btn btn-primary">Submit</button>
</form>